.placeholderWrapper { border: 1px solid #ddd; display: inline-block; padding: 0 5px; clear:both;}
.titleClass { font-size: 12px; font-weight: bold; }
.underLineText { text-decoration: underline; font-size: 9px;}
.boldText { font-weight: bold; font-size: 9px; }